.form {
  width: 250px;
}

.form > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-button {
  cursor: pointer;
  color: white;
  background-color: rgb(0, 114, 227);
  border-radius: 10px;
  border: 0;
  padding: 10px 15px;
}

.form-button:active {
  transform: translateY(4px);
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: rgb(24, 24, 24);
  }
}
