.msg-container {
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;
}

.msg-container > div {
  margin-bottom: 5px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: rgb(24, 24, 24);
  }

  .msg-container {
    border-color: white;
  }
}
